# Node modules
/node_modules

# Environment variables
.env

# Logs
*.log

# Debugger files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE configuration files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
/dist
/build
